In [20]:
#import the libraries
import pandas as pd
import numpy as np

In [21]:
# Load the data
df = pd.read_csv('flight_data.csv')

In [22]:
df.head()

,Unnamed: 0,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,WEATHER_DELAY
0,11,2018-01-01,United Airlines,Chicago,Cleveland,2059,121.0,24.0,2324.0,112.0,8.0,2311,129.0,72.0,80.0,48.0,316.0,0.0
1,14,2018-01-01,United Airlines,Chicago,Burlington,2114,76.0,14.0,2244.0,123.0,5.0,15,73.0,121.0,118.0,99.0,763.0,11.0
2,15,2018-01-01,United Airlines,Orlando,Los Angeles,653,54.0,14.0,801.0,1003.0,22.0,930,55.0,337.0,338.0,302.0,2218.0,0.0
3,16,2018-01-01,United Airlines,Newark,Sacramento,1810,72.0,16.0,1938.0,2157.0,4.0,2136,25.0,386.0,339.0,319.0,2500.0,0.0
4,17,2018-01-01,United Airlines,Ft. Myers,Newark,1250,47.0,12.0,1349.0,1600.0,6.0,1537,29.0,167.0,149.0,131.0,1068.0,0.0

In [24]:
# drop some irrelevant columns
df = df.drop(["Unnamed: 0"], axis = 1)

In [6]:
df.isna().sum()

FL_DATE                      0
OP_CARRIER                   0
ORIGIN                    2964
DEST                      2966
CRS_DEP_TIME                 0
DEP_DELAY               117234
TAXI_OUT                115830
WHEELS_OFF              115829
WHEELS_ON               119246
TAXI_IN                 119246
CRS_ARR_TIME                 0
ARR_DELAY               137040
CRS_ELAPSED_TIME            10
ACTUAL_ELAPSED_TIME     134442
AIR_TIME                134442
DISTANCE                     0
WEATHER_DELAY          5860736
dtype: int64

In [8]:
print('Number of total missing values:', df.isna().sum().sum())
print('df shape:', df.shape)

Number of total missing values: 6859985
df shape: (7213446, 17)

In [9]:
#I will just drop those rows, which has missing values
df = df.dropna()

In [10]:
df.shape

(1351282, 17)

In [11]:
df.isna().sum()

FL_DATE                0
OP_CARRIER             0
ORIGIN                 0
DEST                   0
CRS_DEP_TIME           0
DEP_DELAY              0
TAXI_OUT               0
WHEELS_OFF             0
WHEELS_ON              0
TAXI_IN                0
CRS_ARR_TIME           0
ARR_DELAY              0
CRS_ELAPSED_TIME       0
ACTUAL_ELAPSED_TIME    0
AIR_TIME               0
DISTANCE               0
WEATHER_DELAY          0
dtype: int64

In [12]:
df.head(1)

,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,WEATHER_DELAY
11,2018-01-01,United Airlines,Chicago,Cleveland,2059,121.0,24.0,2324.0,112.0,8.0,2311,129.0,72.0,80.0,48.0,316.0,0.0