In [65]:
import pandas as pd
pd.set_option('display.max_columns', None)
import datetime
import numpy as np
from sklearn import preprocessing 
from sqlalchemy.engine.base import Engine
from sqlalchemy import create_engine
import psycopg2
engine = create_engine('postgresql://lhl_student:lhl_student@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project')
df = pd.read_sql_query('select * from flights limit 2000000', engine)

In [2]:
print(df.columns)

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [3]:
dfF = df[['fl_date', 'mkt_unique_carrier', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time','dep_delay',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance','arr_delay','carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay','cancelled','cancellation_code','total_add_gtime',
       'longest_add_gtime']].copy()

In [4]:
total = dfF.isnull().sum().sort_values(ascending=False)
percent = (dfF.isnull().sum()/dfF.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                      Total   Percent
longest_add_gtime    992737  0.992737
total_add_gtime      992737  0.992737
cancellation_code    960217  0.960217
late_aircraft_delay  801006  0.801006
security_delay       801006  0.801006
nas_delay            801006  0.801006
weather_delay        801006  0.801006
carrier_delay        801006  0.801006
arr_delay             18831  0.018831
dep_delay             15677  0.015677
tail_num               2076  0.002076
dup                       0  0.000000
cancelled                 0  0.000000
distance                  0  0.000000
flights                   0  0.000000
crs_elapsed_time          0  0.000000
fl_date                   0  0.000000
mkt_unique_carrier        0  0.000000
crs_dep_time              0  0.000000
dest_city_name            0  0.000000
dest                      0  0.000000
dest_airport_id           0  0.000000
origin_city_name          0  0.000000
origin                    0  0.000000
origin_airport_id         0  0.000000
op_carrier_fl_num         0  0.000000
op_unique_carrier         0  0.000000
mkt_carrier_fl_num        0  0.000000
mkt_carrier               0  0.000000
crs_arr_time              0  0.000000

In [5]:
dfF[dfF['cancelled']==1].describe()

,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,dep_delay,crs_arr_time,crs_elapsed_time,flights,distance,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,cancelled,total_add_gtime,longest_add_gtime
count,15828.000000,15828.000000,15828.000000,15828.000000,15828.000000,745.000000,15828.000000,15828.000000,15828.0,15828.000000,0.0,0.0,0.0,0.0,0.0,0.0,15828.0,710.000000,710.000000
mean,3249.379580,3249.379580,12621.305471,12605.297763,1482.769017,60.179866,1624.823351,122.781526,1.0,609.042899,NaN,NaN,NaN,NaN,NaN,NaN,1.0,82.232394,79.940845
std,1808.522171,1808.522171,1434.305168,1435.387912,481.839936,88.584371,519.696971,58.731516,0.0,485.319138,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.371815,52.517705
min,1.000000,1.000000,10135.000000,10135.000000,1.000000,-17.000000,1.000000,22.000000,1.0,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.000000,1.000000
25%,1721.750000,1721.750000,11292.000000,11278.000000,1120.000000,-2.000000,1243.000000,85.000000,1.0,280.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,34.250000,34.000000
50%,3491.000000,3491.000000,12478.000000,12478.000000,1600.000000,25.000000,1740.000000,107.000000,1.0,474.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,73.000000,70.000000
75%,4865.000000,4865.000000,13930.000000,13930.000000,1855.000000,94.000000,2035.000000,145.000000,1.0,762.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,125.750000,124.000000
max,7432.000000,7432.000000,16869.000000,16101.000000,2359.000000,631.000000,2359.000000,559.000000,1.0,4184.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,260.000000,260.000000

In [6]:
dfF = df[['fl_date', 'mkt_unique_carrier', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time','dep_delay',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance','cancelled','cancellation_code','total_add_gtime',
       'longest_add_gtime']].copy()

FE

In [7]:
#Flight#
dfF['flight_number'] = dfF['mkt_unique_carrier']+dfF['mkt_carrier_fl_num'].astype(str)+dfF['origin']+dfF['dest']

In [8]:
dfF['flight_number'].value_counts()

UA3650IAHSDF    46
NK180FLLLGA     46
NK215PHLDFW     46
NK214LASDFW     46
NK207DFWLAS     46
                ..
WN3802MDWPVD     1
WN5492MDWPVD     1
WN3417MDWRDU     1
WN4710MDWRDU     1
UA376IAHPDX      1
Name: flight_number, Length: 101040, dtype: int64

In [9]:
print('Number of different flight_numbers in train set : ' +str(len(dfF['flight_number'].value_counts())))

Number of different flight_numbers in train set : 101040

In [10]:
dfF.flights.describe()

count    1000000.0
mean           1.0
std            0.0
min            1.0
25%            1.0
50%            1.0
75%            1.0
max            1.0
Name: flights, dtype: float64

In [11]:
#Conversion 
dfF.fl_date = pd.to_datetime(dfF.fl_date, format='%Y-%m-%d')
dfF['fl_month'] = pd.DatetimeIndex(dfF.fl_date).month
dfF['fl_day'] = pd.DatetimeIndex(dfF.fl_date).day
dfF['fl_day_of_year'] = dfF.fl_date.dt.dayofyear
dfF['fl_day_of_week'] = dfF.fl_date.dt.dayofweek

dfF['crs_dep_time'] = dfF['crs_dep_time'].apply(lambda x: '{0:0>4}'.format(x))
dfF['crs_arr_time'] = dfF['crs_arr_time'].apply(lambda x: '{0:0>4}'.format(x))

dfF['dep_hour'] = dfF['crs_dep_time'].str[:2]
dfF['arr_hour'] = dfF['crs_arr_time'].str[:2]

In [12]:
#Flight Duration
bins = [-100, 180, 360, 2000]
labels = [1,2,3]
dfF['duration_type'] = pd.cut(dfF['crs_elapsed_time'], bins=bins, labels=labels)

In [13]:
#Selecting Days
hour_to_daysection = {'00': 0,
                      '01': 0,
                      '02': 0,
                      '03': 0,
                      '04': 0,
                      '05': 0,
                      '06': 1,
                      '07': 1,
                      '08': 1,
                      '09': 1,
                      '10': 1,
                      '11': 2,
                      '12': 2,
                      '13': 2,
                      '14': 2,
                      '15': 2,
                      '16': 2,
                      '17': 3,
                      '18': 3,
                      '19': 3,
                      '20': 4,
                      '21': 4,
                      '22': 4,
                      '23': 4,
                      '24': 4}

# Night = 0, Morning rush = 1, Midday = 2, Afternoon rush = 3, Evening = 4

dfF['dep_daysection'] = dfF['dep_hour'].map(hour_to_daysection)

dfF['arr_daysection'] = dfF['arr_hour'].map(hour_to_daysection)

In [14]:
month_to_season = {1: 1, 2: 1, 3: 2, 4: 2, 5: 2, 6: 3, 7: 3, 8: 3, 9: 4, 10: 4, 11: 4, 12: 1}
dfF['fl_season'] = dfF['fl_month'].map(month_to_season)

In [15]:
#Origin and Destination states
dfF['origin_state'] = dfF['origin_city_name'].str[-2:]
dfF['dest_state'] = dfF['dest_city_name'].str[-2:]

In [16]:
dfF['origin_airport_vol'] = dfF.groupby(['origin_airport_id'])['flights'].transform(np.sum)
dfF['dest_airport_vol'] = dfF.groupby(['dest_airport_id'])['flights'].transform(np.sum)
#number of flights in origin and destination airports

In [20]:
dfF['carrier_origin_apt_vol'] = dfF.groupby(['origin_airport_id','op_unique_carrier'])['flights'].transform(np.sum)
dfF['carrier_dest_apt_vol'] = dfF.groupby(['dest_airport_id','op_unique_carrier'])['flights'].transform(np.sum)
dfF['carrier_origin_apt_pct'] = dfF['carrier_origin_apt_vol'] / dfF['origin_airport_vol'] * 100
dfF['carrier_dest_apt_pct'] = dfF['carrier_dest_apt_vol'] / dfF['dest_airport_vol'] * 100

In [21]:
#Cancellation Date/Time
times = ['fl_month','dep_hour','dep_daysection','fl_day_of_week','fl_season']
for time in times:
  dfF[time+'_cx_pct'] = dfF.groupby([time])['cancelled'].transform(np.sum) / dfF.groupby([time])['flights'].transform(np.sum) * 100

In [22]:
dfF['origin_cancellation_pct'] = dfF.groupby(['origin'])['cancelled'].transform(np.sum) / dfF.groupby(['origin'])['flights'].transform(np.sum) * 100
dfF['dest_cancellation_pct'] = dfF.groupby(['dest'])['cancelled'].transform(np.sum) / dfF.groupby(['dest'])['flights'].transform(np.sum) * 100
dfF['route_cancellation_pct'] = dfF.groupby(['origin','dest'])['cancelled'].transform(np.sum) / dfF.groupby(['origin','dest'])['flights'].transform(np.sum) * 100
dfF['origin_month_cancellation_pct'] = dfF.groupby(['origin','fl_month'])['cancelled'].transform(np.sum) / dfF.groupby(['origin','fl_month'])['flights'].transform(np.sum) * 100
dfF['dest_month_cancellation_pct'] = dfF.groupby(['dest','fl_month'])['cancelled'].transform(np.sum) / dfF.groupby(['dest','fl_month'])['flights'].transform(np.sum) * 100
dfF['route_month_cancellation_pct'] = dfF.groupby(['origin','dest','fl_month'])['cancelled'].transform(np.sum) / dfF.groupby(['origin','dest','fl_month'])['flights'].transform(np.sum) * 100
#Cancellation by route

In [27]:
#Get dummies
df_dummy = pd.get_dummies(dfF[["op_unique_carrier"]])
df_dummy.shape
#Merge into DF
dfF = pd.concat([dfF,df_dummy],axis=1).drop(["op_unique_carrier",'op_unique_carrier_9E'],axis=1)

In [28]:
list(dfF.columns)

['fl_date',
 'mkt_unique_carrier',
 'mkt_carrier',
 'mkt_carrier_fl_num',
 'tail_num',
 'op_carrier_fl_num',
 'origin_airport_id',
 'origin',
 'origin_city_name',
 'dest_airport_id',
 'dest',
 'dest_city_name',
 'crs_dep_time',
 'dep_delay',
 'crs_arr_time',
 'dup',
 'crs_elapsed_time',
 'flights',
 'distance',
 'cancelled',
 'cancellation_code',
 'total_add_gtime',
 'longest_add_gtime',
 'flight_number',
 'fl_month',
 'fl_day',
 'fl_day_of_year',
 'fl_day_of_week',
 'dep_hour',
 'arr_hour',
 'duration_type',
 'dep_daysection',
 'arr_daysection',
 'fl_season',
 'origin_state',
 'dest_state',
 'origin_airport_vol',
 'dest_airport_vol',
 'carrier_origin_apt_vol',
 'carrier_dest_apt_vol',
 'carrier_origin_apt_pct',
 'carrier_dest_apt_pct',
 'fl_month_cx_pct',
 'dep_hour_cx_pct',
 'dep_daysection_cx_pct',
 'fl_day_of_week_cx_pct',
 'fl_season_cx_pct',
 'origin_cancellation_pct',
 'dest_cancellation_pct',
 'route_cancellation_pct',
 'origin_month_cancellation_pct',
 'dest_month_cancellation_pct',
 'route_month_cancellation_pct',
 'op_unique_carrier_9K',
 'op_unique_carrier_AA',
 'op_unique_carrier_AS',
 'op_unique_carrier_AX',
 'op_unique_carrier_B6',
 'op_unique_carrier_C5',
 'op_unique_carrier_CP',
 'op_unique_carrier_DL',
 'op_unique_carrier_EM',
 'op_unique_carrier_EV',
 'op_unique_carrier_F9',
 'op_unique_carrier_G4',
 'op_unique_carrier_G7',
 'op_unique_carrier_HA',
 'op_unique_carrier_KS',
 'op_unique_carrier_MQ',
 'op_unique_carrier_NK',
 'op_unique_carrier_OH',
 'op_unique_carrier_OO',
 'op_unique_carrier_PT',
 'op_unique_carrier_QX',
 'op_unique_carrier_UA',
 'op_unique_carrier_VX',
 'op_unique_carrier_WN',
 'op_unique_carrier_YV',
 'op_unique_carrier_YX',
 'op_unique_carrier_ZW']

In [29]:
dfF1 = dfF
dfF1

,fl_date,mkt_unique_carrier,mkt_carrier,mkt_carrier_fl_num,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_delay,crs_arr_time,dup,crs_elapsed_time,flights,distance,cancelled,cancellation_code,total_add_gtime,longest_add_gtime,flight_number,fl_month,fl_day,fl_day_of_year,fl_day_of_week,dep_hour,arr_hour,duration_type,dep_daysection,arr_daysection,fl_season,origin_state,dest_state,origin_airport_vol,dest_airport_vol,carrier_origin_apt_vol,carrier_dest_apt_vol,carrier_origin_apt_pct,carrier_dest_apt_pct,fl_month_cx_pct,dep_hour_cx_pct,dep_daysection_cx_pct,fl_day_of_week_cx_pct,fl_season_cx_pct,origin_cancellation_pct,dest_cancellation_pct,route_cancellation_pct,origin_month_cancellation_pct,dest_month_cancellation_pct,route_month_cancellation_pct,op_unique_carrier_9K,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,op_unique_carrier_EV,op_unique_carrier_F9,op_unique_carrier_G4,op_unique_carrier_G7,op_unique_carrier_HA,op_unique_carrier_KS,op_unique_carrier_MQ,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_VX,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,2018-01-30,F9,F9,394,N305FR,394,11292,DEN,"Denver, CO",10693,BNA,"Nashville, TN",1145,-6.0,1516,N,151.0,1.0,1014.0,0.0,,NaN,NaN,F9394DENBNA,1,30,30,1,11,15,1,2,2,1,CO,TN,35276.0,9972.0,3201.0,130.0,9.074158,1.303650,0.000000,1.044513,1.486304,2.055834,0.000000,0.850437,1.383875,0.982801,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2018-01-30,F9,F9,596,N949FR,596,14831,SJC,"San Jose, CA",11292,DEN,"Denver, CO",1200,-3.0,1539,N,159.0,1.0,948.0,0.0,,NaN,NaN,F9596SJCDEN,1,30,30,1,12,15,1,2,2,1,CA,CO,8477.0,35369.0,135.0,3198.0,1.592545,9.041816,0.000000,1.150066,1.486304,2.055834,0.000000,0.861154,0.955639,1.182033,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2018-01-30,F9,F9,254,N938FR,254,11066,CMH,"Columbus, OH",14635,RSW,"Fort Myers, FL",1300,-8.0,1535,N,155.0,1.0,930.0,0.0,,NaN,NaN,F9254CMHRSW,1,30,30,1,13,15,1,2,2,1,OH,FL,6078.0,2669.0,60.0,144.0,0.987167,5.395279,0.000000,1.294977,1.486304,2.055834,0.000000,2.089503,0.936680,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2018-01-30,F9,F9,1448,N910FR,1448,10397,ATL,"Atlanta, GA",14843,SJU,"San Juan, PR",1055,-1.0,1530,N,215.0,1.0,1547.0,0.0,,NaN,NaN,F91448ATLSJU,1,30,30,1,10,15,2,1,2,1,GA,PR,49922.0,2947.0,458.0,165.0,0.917431,5.598914,0.000000,0.987933,1.019840,2.055834,0.000000,0.382597,0.644723,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2018-01-30,F9,F9,1916,N923FR,1916,10423,AUS,"Austin, TX",14492,RDU,"Raleigh/Durham, NC",1146,-3.0,1544,N,178.0,1.0,1162.0,0.0,,NaN,NaN,F91916AUSRDU,1,30,30,1,11,15,1,2,2,1,TX,NC,8298.0,8671.0,580.0,410.0,6.989636,4.728405,0.000000,1.044513,1.486304,2.055834,0.000000,0.855628,2.306539,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2019-10-13,UA,UA,267,N69829,267,14635,RSW,"Fort Myers, FL",12266,IAH,"Houston, TX",1700,-10.0,1830,N,150.0,1.0,861.0,0.0,None,NaN,NaN,UA267RSWIAH,10,13,286,6,17,18,1,3,3,4,FL,TX,2690.0,22111.0,256.0,7694.0,9.516729,34.797160,0.567179,2.369790,2.502416,0.950035,0.567179,1.152416,0.583420,0.000000,0.751880,0.225515,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
999996,2019-10-13,UA,UA,265,N12225,265,11292,DEN,"Denver, CO",14908,SNA,"Santa Ana, CA",0801,-7.0,0926,N,145.0,1.0,846.0,0.0,None,NaN,NaN,UA265DENSNA,10,13,286,6,08,09,1,1,1,4,CO,CA,35276.0,5674.0,8584.0,831.0,24.333825,14.645753,0.567179,1.006838,1.019840,0.950035,0.567179,0.850437,0.652097,0.697674,0.916979,0.473613,0.892857,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
999997,2019-10-13,UA,UA,264,N443UA,264,12953,LGA,"New York, NY",11292,DEN,"Denver, CO",1549,3.0,1809,N,260.0,1.0,1620.0,0.0,None,NaN,NaN,UA264LGADEN,10,13,286,6,15,18,2,2,3,4,NY,CO,21893.0,35369.0,1181.0,8597.0,5.394418,24.306596,0.567179,1.846323,1.486304,0.950035,0.567179,5.554287,0.955639,3.302752,1.212432,0.974793,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
999998,2019-10-13,UA,UA,263,N14231,263,14057,PDX,"Portland, OR",12266,IAH,"Houston, TX",1255,3.0,1900,N,245.0,1.0,1825.0,0.0,None,NaN,NaN,UA263PDXIAH,10,13,286,6,12,19,2,2,3,4,OR,TX,11570.0,22111.0,1020.0,7694.0,8.815903,34.797160,0.567179,1.150066,1.486304,0.950035,0.567179,0.872947,0.583420,0.000000,0.464191,0.225515,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
999999,2019-10-13,UA,UA,262,N45440,262,13930,ORD,"Chicago, IL",14747,SEA,"Seattle, WA",1950,-3.0,2227,N,277.0,1.0,1721.0,0.0,None,NaN,NaN,UA262ORDSEA,10,13,286,6,19,22,2,3,4,4,IL,WA,50555.0,25056.0,10745.0,1456.0,21.254080,5.810983,0.567179,2.636598,2.502416,0.950035,0.567179,1.892988,0.854087,0.000000,0.316612,0.412403,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [30]:
dfF1 = dfF1.select_dtypes('number').dropna(axis='columns')

In [31]:
dfF1

,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_elapsed_time,flights,distance,cancelled,fl_month,fl_day,fl_day_of_year,fl_day_of_week,dep_daysection,arr_daysection,fl_season,origin_airport_vol,dest_airport_vol,carrier_origin_apt_vol,carrier_dest_apt_vol,carrier_origin_apt_pct,carrier_dest_apt_pct,fl_month_cx_pct,dep_hour_cx_pct,dep_daysection_cx_pct,fl_day_of_week_cx_pct,fl_season_cx_pct,origin_cancellation_pct,dest_cancellation_pct,route_cancellation_pct,origin_month_cancellation_pct,dest_month_cancellation_pct,route_month_cancellation_pct,op_unique_carrier_9K,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,op_unique_carrier_EV,op_unique_carrier_F9,op_unique_carrier_G4,op_unique_carrier_G7,op_unique_carrier_HA,op_unique_carrier_KS,op_unique_carrier_MQ,op_unique_carrier_NK,op_unique_carrier_OH,op_unique_carrier_OO,op_unique_carrier_PT,op_unique_carrier_QX,op_unique_carrier_UA,op_unique_carrier_VX,op_unique_carrier_WN,op_unique_carrier_YV,op_unique_carrier_YX,op_unique_carrier_ZW
0,394,394,11292,10693,151.0,1.0,1014.0,0.0,1,30,30,1,2,2,1,35276.0,9972.0,3201.0,130.0,9.074158,1.303650,0.000000,1.044513,1.486304,2.055834,0.000000,0.850437,1.383875,0.982801,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,596,596,14831,11292,159.0,1.0,948.0,0.0,1,30,30,1,2,2,1,8477.0,35369.0,135.0,3198.0,1.592545,9.041816,0.000000,1.150066,1.486304,2.055834,0.000000,0.861154,0.955639,1.182033,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,254,254,11066,14635,155.0,1.0,930.0,0.0,1,30,30,1,2,2,1,6078.0,2669.0,60.0,144.0,0.987167,5.395279,0.000000,1.294977,1.486304,2.055834,0.000000,2.089503,0.936680,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1448,1448,10397,14843,215.0,1.0,1547.0,0.0,1,30,30,1,1,2,1,49922.0,2947.0,458.0,165.0,0.917431,5.598914,0.000000,0.987933,1.019840,2.055834,0.000000,0.382597,0.644723,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1916,1916,10423,14492,178.0,1.0,1162.0,0.0,1,30,30,1,2,2,1,8298.0,8671.0,580.0,410.0,6.989636,4.728405,0.000000,1.044513,1.486304,2.055834,0.000000,0.855628,2.306539,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,267,267,14635,12266,150.0,1.0,861.0,0.0,10,13,286,6,3,3,4,2690.0,22111.0,256.0,7694.0,9.516729,34.797160,0.567179,2.369790,2.502416,0.950035,0.567179,1.152416,0.583420,0.000000,0.751880,0.225515,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
999996,265,265,11292,14908,145.0,1.0,846.0,0.0,10,13,286,6,1,1,4,35276.0,5674.0,8584.0,831.0,24.333825,14.645753,0.567179,1.006838,1.019840,0.950035,0.567179,0.850437,0.652097,0.697674,0.916979,0.473613,0.892857,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
999997,264,264,12953,11292,260.0,1.0,1620.0,0.0,10,13,286,6,2,3,4,21893.0,35369.0,1181.0,8597.0,5.394418,24.306596,0.567179,1.846323,1.486304,0.950035,0.567179,5.554287,0.955639,3.302752,1.212432,0.974793,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
999998,263,263,14057,12266,245.0,1.0,1825.0,0.0,10,13,286,6,2,3,4,11570.0,22111.0,1020.0,7694.0,8.815903,34.797160,0.567179,1.150066,1.486304,0.950035,0.567179,0.872947,0.583420,0.000000,0.464191,0.225515,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
999999,262,262,13930,14747,277.0,1.0,1721.0,0.0,10,13,286,6,3,4,4,50555.0,25056.0,10745.0,1456.0,21.254080,5.810983,0.567179,2.636598,2.502416,0.950035,0.567179,1.892988,0.854087,0.000000,0.316612,0.412403,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [37]:
total = dfF1.isnull().sum().sort_values(ascending=False)
percent = (dfF1.isnull().sum()/dfF1.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data[missing_data['Total'] > 0]

Empty DataFrame
Columns: [Total, Percent]
Index: []

In [39]:
#dfF1 = dfF1[dfF1['delay_type'].notnull()]
#dfF1 = dfF1[dfF1['duration_type'].notnull()]
#dfF1 = dfF1[dfF1['crs_elapsed_time'].notnull()]
dfF1 = dfF1.select_dtypes('number')
dfF1 = dfF1.select_dtypes('number').dropna(axis='columns')

In [43]:
dfC = dfF1[dfF1.cancelled == 1 ]
dfNC = dfF1[dfF1.cancelled == 0 ]
dfNC = dfNC.sample(n=26987, random_state=1)
df5050 = pd.concat([dfC,dfNC])
from sklearn.utils import shuffle
df5050 = shuffle(df5050)

In [44]:
y = df5050.cancelled
df_numeric = df5050.drop(["cancelled"],axis=1)


from sklearn.feature_selection import VarianceThreshold
# remove features with small variance
vt = VarianceThreshold(0.1)
df_transformed = vt.fit_transform(df_numeric)
selected_columns = df_numeric.columns[vt.get_support()]
# transforming an array back to a data-frame preserves column labels
df_transformed = pd.DataFrame(df_transformed, columns = selected_columns)

In [45]:
df_corr = df_transformed.corr().abs()
indices = np.where(df_corr > 0.9)
indices = [(df_corr.index[x], df_corr.columns[y]) for x, y in zip(*indices)
              if x != y and x < y]
for idx in indices:
    try:
        df_transformed.drop(idx[1], axis = 1, inplace=True)
    except KeyError:
        pass

In [46]:
# forward regression
from sklearn.feature_selection import f_regression, SelectKBest
skb = SelectKBest(f_regression, k=15)
X = skb.fit_transform(df_transformed, y)
X = pd.DataFrame(X,columns=df_transformed.columns[skb.get_support()])
X.columns

Index(['mkt_carrier_fl_num', 'crs_elapsed_time', 'fl_day', 'dep_daysection',
       'arr_daysection', 'carrier_origin_apt_vol', 'carrier_origin_apt_pct',
       'fl_month_cx_pct', 'dep_hour_cx_pct', 'fl_day_of_week_cx_pct',
       'origin_cancellation_pct', 'dest_cancellation_pct',
       'route_cancellation_pct', 'origin_month_cancellation_pct',
       'dest_month_cancellation_pct'],
      dtype='object')

In [47]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.80,random_state=1,stratify=y)

In [48]:
X_train.columns

Index(['mkt_carrier_fl_num', 'crs_elapsed_time', 'fl_day', 'dep_daysection',
       'arr_daysection', 'carrier_origin_apt_vol', 'carrier_origin_apt_pct',
       'fl_month_cx_pct', 'dep_hour_cx_pct', 'fl_day_of_week_cx_pct',
       'origin_cancellation_pct', 'dest_cancellation_pct',
       'route_cancellation_pct', 'origin_month_cancellation_pct',
       'dest_month_cancellation_pct'],
      dtype='object')

In [49]:
#RF
from sklearn.ensemble import RandomForestClassifier

regr = RandomForestClassifier(n_estimators=50, max_depth=10, random_state=0)
regr.fit(X_train,y_train)

RandomForestClassifier(max_depth=10, n_estimators=50, random_state=0)

In [50]:
y_pred=regr.predict(X_test)
y_pred

array([0., 1., 0., ..., 0., 0., 1.])

In [51]:
#Accuracy Score
regr.score(X_test, y_pred)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

#Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

#Confusion Matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

0.8132663786056289
              precision    recall  f1-score   support

         0.0       0.83      0.88      0.86      5397
         1.0       0.77      0.70      0.74      3166

    accuracy                           0.81      8563
   macro avg       0.80      0.79      0.80      8563
weighted avg       0.81      0.81      0.81      8563

[[4735  662]
 [ 937 2229]]

In [52]:
pd.Series(y_pred).describe()

count    8563.000000
mean        0.337615
std         0.472924
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
dtype: float64

In [53]:
#NB
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()

In [54]:
clf.fit(X_train, y_train)

GaussianNB()

In [55]:
y_pred = clf.predict(X_test)

In [56]:
#Accuracy Score
regr.score(X_test, y_pred)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

#Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

#Confusion Matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

0.7547588461987621
              precision    recall  f1-score   support

         0.0       0.78      0.85      0.81      5397
         1.0       0.70      0.59      0.64      3166

    accuracy                           0.75      8563
   macro avg       0.74      0.72      0.73      8563
weighted avg       0.75      0.75      0.75      8563

[[4589  808]
 [1292 1874]]

In [57]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

data_dmatrix = xgb.DMatrix(data=X.astype(int),label=y.astype(int))

In [58]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X.astype(int), y.astype(int), test_size=0.2, random_state=123)

In [59]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 20)

In [60]:
xg_reg.fit(X_train,y_train)

y_preds = xg_reg.predict(X_test)

In [61]:
rmse = np.sqrt(mean_squared_error(y_test, y_preds))
print("RMSE: %f" % (rmse))

RMSE: 0.392987

In [62]:
#Accuracy Score
regr.score(X_test, y_pred)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

#Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

#Confusion Matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

0.5514422515473549
              precision    recall  f1-score   support

           0       0.63      0.69      0.66      5418
           1       0.37      0.32      0.34      3145

    accuracy                           0.55      8563
   macro avg       0.50      0.50      0.50      8563
weighted avg       0.54      0.55      0.54      8563

[[3729 1689]
 [2152  993]]